<div class="bg-dark text-white content">

<h1 class="text-black text-center">New Contest</h1>

<div class="container">
  <p><strong>Fill the form below if you want to be one of our sponsors</strong></p>
<%= render 'form', contest: @contest %>
<fieldset>
  <legend class="text-warning">Important!</legend>
  <p>Our Riders knows well that their relationship with their sponsor does not end once they have banked their cash.
                     And how much you appreciate it.</p>

                  <p>The start and finish of this is, of course, saying thank you.It should be the start of an ongoing exchange.
                     An important part of this will be keeping their sponsor informed of how well their money is being spent..<br/>
                  </p>
</fieldset>
</div>


</div>
<div class="container"
<h3 class="card-text">Rocky Mountains,Colorado</h2>
<p>First April  2020</p>
<h6 class="card-title" >Starts in:</h6>
<%= render ("layouts/counter") %>
</div>
