<div class="container">
  <div class="row"style="margin-top:100px;">
    <div class="col-sm-1">
    </div>
    <div class="col-md-10 bike-photos text-center">
        <h1 class="" style="color:white;">Photos</h1>
            <photos>
                <%= render ("layouts/gallery") %>
            </photos>
        </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>
