<div class=" cover" >

  <div class="welcome">
    <div class="container"
  <h1 class="">Welcome to Rocky Mountains,Colorado</h1>
    

    <div class="col-md-4 ">
      <div class="card" style="width: 18rem;">
        Welcome to BBT 2020
      </div>
    </div>
  </div>
  </div>
  <div class="container"
  <h3 class="card-text">Rocky Mountains,Colorado</h2>
 <p>First April  2020</p>
  <h6 class="card-title" >Starts in:</h6>
  <%= render ("layouts/counter") %>
</div>
<%= react_component 'Navbar' %>
</div>
